extends layout

block content
  h1= title
  p Welcome to #{title}
  p Even though I attend the greatest University on the planet I can't finish the shit I started
  img(src='https://media.licdn.com/mpr/mpr/shrinknp_400_400/AAEAAQAAAAAAAAOmAAAAJGFjZGI4YWNkLTRkYTAtNDViNC05YjY3LTc1MzJlNDYzNTNiNg.jpg')
